/* Mobile first styles go here */
/* Universal */

:root {
	--bg-color: #181818;
	--menu-bar-color: #121212;
	--card-color: #404040;
	--card-hover-color: #282828;
	--primary-text-color: #ffffff;
	--secondary-text-color: #b3b3b3;

	--body-offset: 0;
}

html {
	text-align: center;
	font-size: calc(1em + 0.5vw);
	font-family: 'Times New Roman', Times, serif;

	color: var(--primary-text-color);
	background-color: var(--bg-color);

	box-sizing: border-box;
}

body {
	padding-top: var(--body-offset);
}

hr {
	/* Section heder underline */
	border: 0;
	height: 1px;
	background-image: linear-gradient(
		to right,
		rgba(179, 179, 179, 0),
		rgba(179, 179, 179, 0.75),
		rgba(179, 179, 179, 0)
	);
}

body > hr {
	/* Shadow between sections */
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);

	background-image: none;
	margin: 0;
}

main {
	margin: 0 auto;
	max-width: 1000px;
}

.flexbox {
	display: flex;

	flex-wrap: wrap;
	align-items: center;

	--margin: 0.25rem;
	--mod: calc(730px - 100%);
	margin: calc(0rem - var(--margin));
}

.flexbox > * {
	flex-grow: 1;
	flex-basis: calc(var(--mod) * 999);
	margin: var(--margin);
}

/* Nav bar */
nav.flexbox {
	width: 100%;
	margin: 0;

	background-color: var(--menu-bar-color);
	border-bottom: 1px solid var(--card-color);

	position: fixed;
	z-index: 5;
	top: 0;
}

nav ul {
	padding: 0;
	list-style: none;
}

nav li {
	display: inline;
	margin: 0 0.75vw;
}

nav button {
	border: 0;
	color: var(--primary-text-color);
	background-color: inherit;
}

nav li button {
	text-decoration: underline;
}

#logo {
	font-size: 1.5em;
	font-family: 'Luxurious Roman', 'Times New Roman', Times, serif;
	flex-grow: 0.5;
}

/* Mission statement */
#statement {
	background-image: url(../resources/bard-banner.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	min-height: calc(100vmin - var(--body-offset));

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

#statement > * {
	text-align: left;

	background-color: rgba(37, 37, 37, 0.75);

	margin: 0;
	padding-left: 1rem;
	max-width: min(100vw, 800px);
}
#statement :nth-child(1) {
	padding-top: 1rem;
}
#statement :last-child {
	padding-bottom: 1rem;
}

/* Dangers section */
figure {
	position: relative;
	object-fit: cover;
}

figure img {
	width: 100%;
	height: 40vmin;
	object-fit: cover;
}

figure figcaption {
	font-size: 0.75rem;
	color: var(--secondary-text-color);
	background-color: rgba(37, 37, 37, 0.75);

	position: absolute;
	z-index: 1;
	bottom: 1rem;
	padding: 0.25rem;
}

#dangers article h2 {
	margin: 0 auto;
}

#dangers article p {
	text-align: left;
	margin: 0 0.25rem;
}

.flex-invert {
	flex-direction: row-reverse;
}

/* Our team section */

#our-team-cards {
	justify-content: center;
}

.team-card {
	background-color: var(--card-hover-color);
	box-shadow: 0 0 10px 1px black;
	border-radius: 1px;
	overflow-x: hidden;

	max-width: 75%;
}

.team-card header {
	background-color: var(--card-color);
	box-shadow: 0px 0px 5px 1px black;

	display: grid;
	grid-template-columns: 1fr 1fr;
	align-items: flex-end;
	gap: 0.25rem;

	text-align: left;
	padding: 0.25rem;
}

.team-card header * {
	margin: 0;
}

.avatar {
	width: 100%;
	display: inline;
	object-fit: cover;
}

.company-pos {
	font-weight: normal;
	color: var(--secondary-text-color);
}

.bio,
.team-card address {
	font-size: 0.75rem;
}

.team-card address ul {
	padding: 0;
	list-style: none;
}

.team-card address li {
	display: inline;
	margin: 0 0.25rem;
}

.team-card a {
	color: var(--primary-text-color);
}

/* Break point for desktop/landscape */
@media only screen and (min-width: 730px) {
	/* Nav bar */
	#logo {
		text-align: left;
	}
	nav ul {
		text-align: right;
	}
}

@media only screen and (min-width: 800px) {
	/* Mission statement */
	#statement :nth-child(1) {
		border-top-right-radius: 3px;
	}
	#statement :last-child {
		border-bottom-right-radius: 3px;
	}
}
