/* Mobile first styles go here */
/* Universal */

:root {
	--bg-color: #181818;
	--menu-bar-color: #121212;
	--card-color: #404040;
	--card-hover-color: #282828;
	--primary-text-color: #ffffff;
	--secondary-text-color: #b3b3b3;

	--body-offset: 0;
}

html {
	text-align: center;
	font-size: calc(1em + 0.5vw);
	font-family: 'Times New Roman', Times, serif;

	color: var(--primary-text-color);
	background-color: var(--bg-color);

	box-sizing: border-box;
}

body {
	padding-top: var(--body-offset);
}

.flexbox {
	display: flex;

	flex-wrap: wrap;
	align-items: center;

	--margin: 0.25rem;
	--mod: calc(540px - 100%);
	margin: calc(var(--margin) -1);
}

.flexbox > * {
	flex-grow: 1;
	flex-basis: calc(var(--mod) * 999);
	margin: var(--margin);
}

/* Nav bar */
nav {
	width: 100%;

	background-color: var(--menu-bar-color);
	border-bottom: 1px solid var(--card-color);

	position: fixed;
	z-index: 1;
	top: 0;
}

nav ul {
	padding: 0;
	list-style: none;
}

nav li {
	display: inline;
	margin: 0 0.75vw;
}

nav button {
	border: 0;
	color: var(--primary-text-color);
	background-color: inherit;
}

nav li button {
	text-decoration: underline;
}

#logo {
	font-size: 1.5em;
	font-family: 'Luxurious Roman', 'Times New Roman', Times, serif;
	flex-grow: 0.5;
}

/* Mission statement */
#statement {
	background-image: url(../resources/bard-banner.webp);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;

	min-height: calc(100vmin - var(--body-offset));

	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
}

#statement > * {
	text-align: left;

	background-color: rgba(37, 37, 37, 0.75);

	margin: 0;
	padding-left: 1rem;
	max-width: min(100vw, 800px);
}
#statement :nth-child(1) {
	padding-top: 1rem;
}
#statement :last-child {
	padding-bottom: 1rem;
}

/* Break point for desktop/landscape */
@media only screen and (min-width: 540px) {
	/* Nav bar */
	#logo {
		text-align: left;
	}
	nav ul {
		text-align: right;
	}
}

@media only screen and (min-width: 800px) {
	/* Mission statement */
	#statement :nth-child(1) {
		border-top-right-radius: 3px;
	}
	#statement :last-child {
		border-bottom-right-radius: 3px;
	}
}
